@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
backgroud-color: white;

* {
    box-sizing: border-box;  
}

html {
    scroll-behavior: smooth;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #91D8F7;
    text-decoration: none;  
    
}

a {
    text-decoration: none;

}

header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background-color: aliceblue;
}

header a button: hover{
    font-size: 1em;
    
}

#content {
    padding: 0;
}

#content1 {
    padding:0;
}

#logo{
    weight: 30%;
}

na{
    width: 100%;
}

.nav-links{
    list-style: none;
    padding-left: 0;
}

.nav-links li{
    display:inline-block;
    justify-content: flex-end;
    padding: 0px 20px;

}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
   color:white;
}

body {
    font-family:"Montserrat", sans-serif;
    margin:0;
}
#ballon {
    width:80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container-ballon{
    position: relative;
}

.text-ballon{
    margin-left: 20%;
    position: absolute;
    top:35%;
    width:60%;
    text-align: center;
    font-size: 40px;
}

#character {
    justify-content: left;
    flex-direction: column-reverse;
}

#konjugator{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

#content{
     
}

#buttons-box{
    margin-left: 5%;
    margin-right:5%; 
    padding:0;
}

#days {}



button, #press{
    color:white;
    margin: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #91D8F7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

div button:hover{
    font-size: 1.3em;
    padding: 8px;
    transition: all 0.3s ease 0s;
    
}

#title{
    margin-left: 10%;
}

#theme-title a{
    color: white;
    box-sizing: border-box ;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #3E4095;
    border-radius: 20px;
    border: 2px;
    border-color: #DAF0F7;
}
#theme-text {
    justify-content: center;
    text-align: justify;
}

#assignment a {
    color:#3E4095;
    font-weight: bold;

}

#text {
    margin-top:30px;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
}
#text a {
    color: #3E4095;
}

#list {
    
    margin-top: 30px;
    justify-content: center;
}

#list a {
    color: #3E4095;
}

#question {
    margin-top: 30px;
}
#question a{
    color: #3E4095;
}

#beispiel {
    margin-top: 15px;
}

#content form {
    border: none;
}
textarea{
    margin-top: 30px;
    width: 80%;
    height: 100px;
}


/* LOGIN STYLES] */

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  vertical-align: auto;
  margin: 0;
}

.imgcontainer {
  text-align: center;
  margin: 24px 20px 12px 20px;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/*login styles MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 80%;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    right: 25px;
    top: 0px;
    margin-right: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    float: right;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }


  /* KONJUGATOR STYLES */
.verb_example{cursor: pointer;}
.verb_example:hover{
    color: blue;
}
.pronoun {colour: green;}
.irregular {color: red;}
.orto {color: blur;}
.arca {color: purple;}
.obsolete {color: gray;}



@media screen and (min-width:700px){
    #ballon {
        height: 40vh;
        width: 80vw;
    }

    
}

@media screen and (max-width:700px){
    header {
        width:auto;
        padding: 0 15px;
    }

    .logo {
        width: 30vw;
    }

    #character {
        width: 40%;
    }

    .container-ballon{
        position: relative;
    }
    
    .text-ballon{
        margin-left: 20%;
        position: absolute;
        top:25%;
        width:60%;
        text-align: center;
        font-size: 18px;
    }

    button {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #assignment {
        margin-top: 10px;
    }

    .container {
        justify-content: center;
    }

    .modal-content{
        width:80vw;
    }

    span.psw {
        display: block;
        float: none;
     }
     .cancelbtn {
        width: 100%;
     }
   }
}